@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@layer base {
    body {
        @apply bg-slate-900 font-body;
    }
}

@layer components {
    .border-modal {
        border-image: fill 0 linear-gradient(#0001, #000);
    }

    .page-container {
        width: 1280px;
        @apply mx-auto;
    }

    .movies-list .swiper-slide {
        width: 300px;
        height: auto;
        margin-right: 25px !important;
    }

    .casts-list .swiper-slide {
        width: 300px;
        height: auto;
        margin-right: 25px !important;
    }

    .banner .swiper {
        height: 100%;
    }

    .swiper-wrapper {
        display: flex;
        justify-content: center;
    }

   
}

// pagination
 .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;

    .selected {
        @apply text-primary;
    }
 }